{% extends "base.html" %}

{% block content_main %}

<form method="POST" action"{% url 'check-in' pk %}">
  {% csrf_token %}
  <table>
    <tr>
      <p class="alert">{{ message }}</p>
      <p class="alert">{{ form.errors.quantity }}</p>
    </tr>
    <tr>
      <td>
        <label for="quantity">How Many</label>
      </td>
      <td>
        {{ form.quantity }}
      </td>
    </tr>

    <tr>
      <td></td>
      <td id="order-btn">
        <input type="submit" value"Check In">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
