{% extends "base.html" %}

{% block content_main %}

<form method="POST" action="{% url 'check-out' pk %}">
  {% csrf_token %}

  <table>
    <tr>
      <p class="alert">{{ message }}</p>
      <p class="alert">{{ form.errors.quantity }}</p>
    </tr>
    <tr>
      <td>
        <label for="employee"><b>Employee</b></label>
      </td>
      <td>{{ form.employee }}</td>
    </tr>
    <tr>
      <td>
        <label for="employee"><b>Quantity</b></label>
      </td>
      <td>{{ form.quantity }}</td>
    </tr>
    <tr>
      <td></td>
      <td id="order-btn">
      <input type="submit" value="Check Out">
      </td>
    </tr>
  </table>


</form>
{% endblock %}
