{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}


{% block content %}
<p class="alert">{{ message }}<p>

<form id="changelist-form" method="POST" action="{% url 'order-item' %}">
  {% csrf_token %}
  <label for="name"><b>Ordered Name:</b></label>
  {{ form.name }}
  <br>
  <br>

  <label for="description"><b>Description:</b></label>
  {{ form.description }}
  <br>
  <br>

  <label for="ordered_by"><b>Ordered By:</b></label>
  {{ form.ordered_by }}
  <br>
  <br>

  <label for="secret_key"><b>Secret Key:</b></label>
  {{ form.secret_key }}
  <br>
  <br>
  <input type="submit" value="Order">
</form>
{% endblock %}
